[Unit]
Description=Receives messages on the serial input and sends them to a server using HTTP POST
After=multi-user.target

[Service]
Type=simple
User=dme2smsuser
Group=dme2smsuser
WorkingDirectory=/etc/dme2sms-readserial
ExecStart=/etc/dme2sms-readserial/dme2sms-readserial.py
SyslogIdentifier=dme2sms
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
